{% extends 'base.html' %}
{% load socialaccount %}
{% block main-content %}

<div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Python Package Index</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
    <div>
    {% get_providers as socialaccount_providers %}
    {% for pro in socialaccount_providers %}
      1. First Account  {{ pro.name }}
    {% endfor %}
</div>
    <div id="testscript"></div>
    {{ user.display_name }} test
        </div>


{% endblock main-content %}