{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <!-- Meta & favicons -->
    {% block meta %}
        {% include 'layouts/meta.html' %}
    {% endblock meta %}
    <!-- End Meta & favicon -->

    <!-- Main Style Sheets -->
    {% block main_styles %}
        {% include 'layouts/styles.html' %}
    {% endblock main_styles %}
    <!-- End Main Style Sheets -->

    <!-- Extra Style Sheets -->
    {% block extra_styles %}

    {% endblock extra_styles %}
    <!-- End Extra Style Sheets -->
</head>
<body>
<div id="wrapper">
    <!-- Header -->
    {% block header %}
        {% include 'layouts/header.html' %}
    {% endblock header %}
    <!-- End header -->

    <!-- CSS Modal -->
    {% block modal %}
        {% include 'layouts/modal.html' %}
    {% endblock modal %}
    <!-- End CSS Modal -->


    <!-- Content -->
    {% block main-content %}
    {% endblock main-content %}
    <!-- End Content -->

    <!-- Footer -->
    {% block footer %}

    {% endblock footer %}
    <!-- End footer -->


<!-- Main Scripts -->
{% block main_scripts %}
        {% include 'layouts/scripts.html' %}
{% endblock main_scripts %}
<!-- End Main Scripts -->

<!-- Extra Scripts -->
{% block extra_scripts %}

{% endblock extra_scripts %}
<!-- End Extra Scripts -->
</div>
</body>
</html>